.file {
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.5313rem;
}

.folder {
    width: 6.25rem;
    height: 6.25rem;
}

.link {
    text-decoration: none;
    color:#a7a7a7;
}

.link:hover {
    color:#eeeeee;
}

@media screen and (max-width: 1000px) {
    .file {
        width: 5rem;
        height: 5rem;
    }

    .folder {
        width: 5rem;
        height: 5rem;
    }
}